@mixin breakpoint($point) {
	@if $point == lg {
		@media (max-width: 992px){
			@content;
	   }
   }
	@else if $point == md {
		@media (max-width: 768px){
			@content;
	   }
   }
	@else if $point == sm {
		@media (max-width: 576px){
			@content;
	   }
   }
	@else if $point == xs {
		@media (max-width: 375px){
			@content;
	   }
   }
	@else if $point == xl {
		@media (max-width: 1200px){
			@content;
	   }
   }
	@else if $point == xxl {
		@media (max-width: 1500px){
			@content;
	   }
   }
}
.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
	z-index: 10;
}
.modal.enter-done {
	opacity: 1;
	pointer-events: visible;
}
.modal.exit {
	opacity: 0;
}
.modal-content {
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(2px);
	transition: all 0.3s ;
	color: white;
	display: flex;
	align-items: center;
}
.modal-img {
	width: 50vw;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	@include breakpoint (lg) {
		position: absolute;
		width: 100vw;
		margin: 0;
		top: 0;
		z-index: -1;
		opacity: 0.4;
		opacity: 0.3;
		height: 100vh;
   }
	@include breakpoint (md) {
		opacity: 0.3;
		width: auto;
   }
}
.modal-info {
	margin: 0 auto;
	padding: 25px;
	font-family: 'Roboto Condensed', sans-serif;
	animation: gradientInfo 0.4s;
	transition: 0.4s;
	width: 50vw;
	@include breakpoint (xl) {
		width: auto;
   }
   @include breakpoint (sm) {
	padding: 5px;
}
}
@keyframes gradientInfo {
	0% {
		display: none;
		opacity: 0;
   }
	50% {
		display: block;
		margin-top: 2000px;
   }
	100% {
		margin-top: 0px;
		opacity: 1;
   }
}
.modal-track__animate {
	font-size: 25px;
	font-weight: bold;
	margin-left: 12px;
	border-bottom: 1px solid #484848;
	padding-bottom: 18px;
    margin-top: -5px;
	@include breakpoint (sm) {
		font-size: 16px;
		margin-right: 12px;
		margin-top:0px;
		padding: 15px 0px;
   }
}
.animate {
  background-image: linear-gradient(-225deg, #e3dcff 0%, #cdb4e7 29%, #8f6d78 67%, #ffffff 100%);
  margin: 0;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.modal.enter-done .modal-content {
	transform: translateY(0);
}
.modal.exit .modal-content {
	transform: translateX(200px);
}
.modal-header {
	padding: 10px;
	font-size: 150px;
	animation: gradient 0.5s;
	transition: 0.4s;
	font-family: Simphonia-Deco;
	@include breakpoint (xxl) {
		font-size: 100px;
   }
	@include breakpoint (xl) {
		font-size: 70px;
   }
}
@keyframes gradient {
	0% {
		margin-left: 200px;
   }
	80% {
		margin-left: -10px;
   }
	90% {
		margin-left: -5px;
   }
	100% {
		margin-left: 0px;
   }
}
.modal-title {
	margin: 0;
}
.modal-body {
	padding: 10px;
	margin-bottom: 15px;
	line-height: 24px;
	@include breakpoint (sm) {
		margin-bottom: 200px;
   }
	
}
.button-close {
	position:absolute;
	top: 5vh;
	right: 3vw;
	background-color: transparent;
	transition: 0.2s;
	cursor: pointer;
	border: none;
	padding: 5px;
	background: url(./close.svg) no-repeat;
	background-size: 90%;
	width: 35px;
	height: 35px;
	@include breakpoint (sm) {
		top: 5vh;
		right: 5vw;
   }
}
.button-close:hover {
	-webkit-transform: rotateY(45deg);
	transform: rotateY(45deg);
	width: 40px;
}
.modal-result {
	background: rgba(0, 0, 0, 0.514);
	border-radius: 25px;
	padding: 25px;
	@include breakpoint (sm) {
		position: absolute;
    bottom: 0;
    width: 100vw;
    margin: 0;
    left: 0;
    padding: 0;
    border-radius: 0;
    height: 25vh;
   }
}
.modal-player {
	display: flex;
	justify-content: space-around;
	max-width: 150px;
	margin: 0 auto;
	@include breakpoint (lg) {
		max-width: 250px;
   }
}
audio {
	width: 35vw;
	margin: 0 auto;
	display: block;
	margin-bottom: 15px;
	@include breakpoint (lg) {
		width: 70vw;
   }
   @include breakpoint (sm) {
	width: 90vw;
}
.audio:focus-visible {
	outline: none;
}
}
.modal-next, .modal-prev {
	border-radius: 50%;
	border: none;
	width: 35px;
	height: 35px;
	font-size: 25px;
	font-weight: bold;
	background: #ffffff3d;
	color: #ffffffad;
	transition: 0.2s;
	cursor: pointer;
	padding: 0;
	@include breakpoint (sm) {
		width: 50px;
	height: 50px;
	}
}

.modal-next:hover, .modal-prev:hover {
	border: 1px solid rgba(0, 0, 0, 0.178);
	color: rgb(36, 36, 36);
}
.modal-next:active, .modal-prev:active {
	color: rgb(138, 138, 138);
}
.modal-next:focus-visible, .modal-prev:focus-visible {
	outline: none;
}
.modal-prev:hover {
	padding-right: 2px;
}
.modal-next:hover {
	padding-left: 2px;
}
.modal-none {
	display: none;
}